In [1]:
# Note that for our dataset, ungulate animals = mule deer, elk.
# One of the main reason for this research was to help farmers,
# ranchers etc to determine if fencing their farms would help
# them prevent losses which occur due to heavy grazing by the
# ungulates. Therefore, some ungulate proof pastures were
# created for the research within the starkey area and one
# such example of that data is the DistEWater which is the
# distance to the nearest water source within the ungulate
# proof area.

# First, lets import the starkey dataset and the habitat data
# and then check both out. Now it is to be noted that since
# the habitat dataset is not an actual trajectory dataset, we
# will just import the habitat dataset as a pandas dataframe.
import matplotlib.pyplot as plt

from Nummobility.core.TrajectoryDF import NumPandasTraj
from Nummobility.features.spatial_features import SpatialFeatures
import pandas as pd
import numpy as np
from Nummobility.semantics.semantic_features import SemanticFeatures
pd.set_option('display.max_columns', 500)

pdf = pd.read_csv('./data/starkey.csv')
starkey_traj = NumPandasTraj(data_set=pdf,
                             latitude='lat',
                             longitude='lon',
                             datetime='DateTime',
                             traj_id='Id')
print(starkey_traj)
starkey_traj.head()

------------------------ Dataset Facts ------------------------------

Number of unique Trajectories in the data: 253
Number of points in the data: 287136
Dataset time range: 1196 days 22:51:45
Datatype of the DataFrame: <class 'Nummobility.core.TrajectoryDF.NumPandasTraj'>
Dataset Bounding Box: (45.18896978643169, -118.61020848239596, 45.314545642992, -118.50455596234036)

---------------------------------------------------------------------

                                     lat         lon  StarkeyTime    GMDate  \
traj_id   DateTime
880109D01 1995-04-13 13:40:06  45.239682 -118.533204    229902006  21:40:06
          1995-04-15 12:16:15  45.250521 -118.530438    230069775  20:16:15
          1995-04-15 21:39:38  45.247943 -118.541455    230103578  05:39:38
          1995-04-16 03:32:14  45.247429 -118.539530    230124734  11:32:14
          1995-04-16 04:08:28  45.247117 -118.542579    230126908  12:08:28

                                 GMTime   LocDate   LocTime  RadNum Species  \
traj_id   DateTime
880109D01 1995-04-13 13:40:06  19950413  19950413  13:40:06     409       D
          1995-04-15 12:16:15  19950415  19950415  12:16:15     409       D
          1995-04-15 21:39:38  19950416  19950415  21:39:38     409       D
          1995-04-16 03:32:14  19950416  19950416  03:32:14     409       D
          1995-04-16 04:08:28  19950416  19950416  04:08:28     409       D

                                 UTME     UTMN  Year  Grensunr  Grensuns  \
traj_id   DateTime
880109D01 1995-04-13 13:40:06  379662  5010734    95  13:13:00  02:39:00
          1995-04-15 12:16:15  379895  5011927    95  13:09:00  02:41:00
          1995-04-15 21:39:38  379039  5011656    95  13:07:00  02:43:00
          1995-04-16 03:32:14  379188  5011581    95  13:07:00  02:43:00
          1995-04-16 04:08:28  378938  5011567    95  13:07:00  02:43:00

                               Obswt
traj_id   DateTime
880109D01 1995-04-13 13:40:06   1.47
          1995-04-15 12:16:15   1.59
          1995-04-15 21:39:38   1.34
          1995-04-16 03:32:14   1.50
          1995-04-16 04:08:28   1.34

In [2]:
# Now, importing the habitat data.
starkey_habitat = pd.read_csv('./data/starkey_habitat.csv')
print(f"The shape of the starkey habitat dataset: {starkey_habitat.shape}")
starkey_habitat.head()

The shape of the starkey habitat dataset: (85969, 19)

,lat,lon,SoilDpth,PerSlope,SINAspct,COSAspct,Convex3,DistCWat,Canopy,Elev,DistEWat,EcoGener,DistOPEN,DistRSTR,DistCLSD,DistEFnc,CowPast,ForgProd,DistEdge
0,45.272378,-118.610193,14,5,-0.81,0.59,500.63,218,3,1389,212,GB,127,2271,30,0,SMITH-BALLY,363,0
1,45.272648,-118.610201,14,5,-0.71,0.71,500.21,228,3,1388,218,GB,150,2293,30,0,SMITH-BALLY,363,0
2,45.272918,-118.610208,14,4,-0.89,0.45,499.93,242,3,1387,228,GB,170,2315,30,0,SMITH-BALLY,363,0
3,45.270224,-118.609750,14,8,-0.98,0.21,500.68,201,5,1393,201,GB,30,2081,134,0,SMITH-BALLY,363,0
4,45.270494,-118.609757,14,7,-0.97,0.22,501.22,190,5,1393,190,GB,30,2101,108,0,SMITH-BALLY,363,0

In [4]:
%%time

sem = SemanticFeatures.visited_location(df=starkey_traj,
                                        geo_layers=starkey_habitat,
                                        visited_location_name = 'SMITH-BALLY',
                                        location_column_name='CowPast')
sem.head()

111364
CPU times: user 48.8 s, sys: 237 ms, total: 49 s
Wall time: 49.1 s

                                     lat         lon  StarkeyTime    GMDate  \
traj_id   DateTime
880109D01 1995-04-13 13:40:06  45.239682 -118.533204    229902006  21:40:06
          1995-04-15 12:16:15  45.250521 -118.530438    230069775  20:16:15
          1995-04-15 21:39:38  45.247943 -118.541455    230103578  05:39:38
          1995-04-16 03:32:14  45.247429 -118.539530    230124734  11:32:14
          1995-04-16 04:08:28  45.247117 -118.542579    230126908  12:08:28

                                 GMTime   LocDate   LocTime  RadNum Species  \
traj_id   DateTime
880109D01 1995-04-13 13:40:06  19950413  19950413  13:40:06     409       D
          1995-04-15 12:16:15  19950415  19950415  12:16:15     409       D
          1995-04-15 21:39:38  19950416  19950415  21:39:38     409       D
          1995-04-16 03:32:14  19950416  19950416  03:32:14     409       D
          1995-04-16 04:08:28  19950416  19950416  04:08:28     409       D

                                 UTME     UTMN  Year  Grensunr  Grensuns  \
traj_id   DateTime
880109D01 1995-04-13 13:40:06  379662  5010734    95  13:13:00  02:39:00
          1995-04-15 12:16:15  379895  5011927    95  13:09:00  02:41:00
          1995-04-15 21:39:38  379039  5011656    95  13:07:00  02:43:00
          1995-04-16 03:32:14  379188  5011581    95  13:07:00  02:43:00
          1995-04-16 04:08:28  378938  5011567    95  13:07:00  02:43:00

                               Obswt Visited_SMITH-BALLY
traj_id   DateTime
880109D01 1995-04-13 13:40:06   1.47                   0
          1995-04-15 12:16:15   1.59                   0
          1995-04-15 21:39:38   1.34                   0
          1995-04-16 03:32:14   1.50                   0
          1995-04-16 04:08:28   1.34                   0

                                     lat         lon  StarkeyTime    GMDate  \
traj_id   DateTime
890130D09 1994-04-18 07:23:12  45.258499 -118.579212    198775392  15:23:12
          1994-04-18 08:35:47  45.258716 -118.583042    198779747  16:35:47
          1994-04-18 09:47:57  45.258446 -118.583034    198784077  17:47:57
          1994-04-18 12:24:04  45.258176 -118.583027    198793444  20:24:04
          1994-04-18 14:57:54  45.257636 -118.583012    198802674  22:57:54
...                                  ...         ...          ...       ...
OSUX93151 1996-07-22 04:25:14  45.246859 -118.581183    270131114  12:25:14
          1996-07-22 05:47:42  45.246595 -118.580793    270136062  13:47:42
          1996-07-22 07:13:23  45.246854 -118.581565    270141203  15:13:23
          1996-07-22 08:40:45  45.247135 -118.580808    270146445  16:40:45
          1996-07-22 10:09:04  45.245526 -118.579999    270151744  18:09:04

                                 GMTime   LocDate   LocTime  RadNum Species  \
traj_id   DateTime
890130D09 1994-04-18 07:23:12  19940418  19940418  07:23:12     303       D
          1994-04-18 08:35:47  19940418  19940418  08:35:47     303       D
          1994-04-18 09:47:57  19940418  19940418  09:47:57     303       D
          1994-04-18 12:24:04  19940418  19940418  12:24:04     303       D
          1994-04-18 14:57:54  19940418  19940418  14:57:54     303       D
...                                 ...       ...       ...     ...     ...
OSUX93151 1996-07-22 04:25:14  19960722  19960722  04:25:14     331       C
          1996-07-22 05:47:42  19960722  19960722  05:47:42     331       C
          1996-07-22 07:13:23  19960722  19960722  07:13:23     331       C
          1996-07-22 08:40:45  19960722  19960722  08:40:45     331       C
          1996-07-22 10:09:04  19960722  19960722  10:09:04     331       C

                                 UTME     UTMN  Year  Grensunr  Grensuns  \
traj_id   DateTime
890130D09 1994-04-18 07:23:12  376104  5012888    94  13:04:00  02:45:00
          1994-04-18 08:35:47  375800  5012912    94  13:04:00  02:45:00
          1994-04-18 09:47:57  375800  5012888    94  13:04:00  02:45:00
          1994-04-18 12:24:04  375799  5012841    94  13:04:00  02:45:00
          1994-04-18 14:57:54  375798  5012780    94  13:04:00  02:45:00
...                               ...      ...   ...       ...       ...
OSUX93151 1996-07-22 04:25:14  375921  5011591    96  12:28:00  03:36:00
          1996-07-22 05:47:42  375932  5011550    96  12:28:00  03:36:00
          1996-07-22 07:13:23  375891  5011580    96  12:28:00  03:36:00
          1996-07-22 08:40:45  375946  5011608    96  12:28:00  03:36:00
          1996-07-22 10:09:04  376018  5011432    96  12:28:00  03:36:00

                               Obswt Visited_SMITH-BALLY
traj_id   DateTime
890130D09 1994-04-18 07:23:12   1.34                   1
          1994-04-18 08:35:47   1.33                   1
          1994-04-18 09:47:57   1.33                   1
          1994-04-18 12:24:04   1.33                   1
          1994-04-18 14:57:54   1.33                   1
...                              ...                 ...
OSUX93151 1996-07-22 04:25:14   1.50                   1
          1996-07-22 05:47:42   1.50                   1
          1996-07-22 07:13:23   1.45                   1
          1996-07-22 08:40:45   1.50                   1
          1996-07-22 10:09:04   1.46                   1

[111364 rows x 16 columns]