In [1]:
from core.TrajectoryDF import NumPandasTraj as NumTrajDF
from features.spatial_features import SpatialFeatures as spatial
from utilities.conversions import Conversions as con
import pandas as pd

In [2]:
%%time
# Reading the geolife dataset and converting to NumPandasTraj.
geolife = pd.read_csv('./data/geolife_sample.csv')
geolife = NumTrajDF(geolife,'lat','lon','datetime','id')

# Reading the gulls dataset and converting to NumPandasTraj.
gulls = pd.read_csv('./data/gulls.csv')
gulls = NumTrajDF(gulls,
                 latitude='location-lat',
                 longitude='location-long',
                 datetime='timestamp',
                 traj_id='tag-local-identifier',
                 rest_of_columns=[])

# Reading the atlantic dataset, cleaning it up and then converting
# it to NumPandasTraj.
atlantic = pd.read_csv('./data/atlantic.csv')
atlantic = con.convert_directions_to_degree_lat_lon(atlantic, 'Latitude',"Longitude")
def convert_to_datetime(row):
        this_date = '{}-{}-{}'.format(str(row['Date'])[0:4], str(row['Date'])[4:6], str(row['Date'])[6:])
        this_time = '{:02d}:{:02d}:00'.format(int(row['Time']/100), int(str(row['Time'])[-2:]))
        return '{} {}'.format(this_date, this_time)
atlantic['DateTime'] = atlantic.apply(convert_to_datetime, axis=1)
atlantic = NumTrajDF(atlantic,
                         latitude='Latitude',
                         longitude='Longitude',
                         datetime='DateTime',
                         traj_id='ID',
                         rest_of_columns=[])
atlantic.head()

CPU times: user 12.5 s, sys: 177 ms, total: 12.7 s
Wall time: 12.7 s

,,Name,Date,Time,Event,Status,lat,lon,Maximum Wind,Minimum Pressure,Low Wind NE,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
DateTime,traj_id,,,,,,,,,,,,,,,,,,,,,
1851-06-25 00:00:00,AL011851,UNNAMED,18510625,0,,HU,28.0,-94.8,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1851-06-25 06:00:00,AL011851,UNNAMED,18510625,600,,HU,28.0,-95.4,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1851-06-25 12:00:00,AL011851,UNNAMED,18510625,1200,,HU,28.0,-96.0,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1851-06-25 18:00:00,AL011851,UNNAMED,18510625,1800,,HU,28.1,-96.5,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1851-06-25 21:00:00,AL011851,UNNAMED,18510625,2100,L,HU,28.2,-96.8,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [3]:
%%time

# Now, lets get the bounding boxes of all the dataframes.
print(spatial.get_bounding_box(geolife))
print(spatial.get_bounding_box(gulls))
print(spatial.get_bounding_box(atlantic))

(22.147577, 113.54884299999999, 41.132062, 121.156224)
(-62.71617, 4.02517, 65.2325, 103.19317)
(7.2, -359.1, 81.0, 63.0)
CPU times: user 12.9 ms, sys: 52 µs, total: 13 ms
Wall time: 11.2 ms

In [4]:
%%time

# Now, lets get the start times of all the dataframes without
# giving a traj_id.
print(spatial.get_start_location(geolife))
print(spatial.get_start_location(gulls))
print(spatial.get_start_location(atlantic))

(39.984224, 116.319402)
(61.27033, 24.144000000000002)
(28.0, -94.8)
CPU times: user 51.7 ms, sys: 3.98 ms, total: 55.7 ms
Wall time: 53.4 ms

In [5]:
%%time

# Now lets check the start times of all dataframes with a traj_id.
print(spatial.get_start_location(geolife, '1'))
print(spatial.get_start_location(gulls, "91732"))
print(spatial.get_start_location(atlantic, 'AL011851'))

(39.984224, 116.319402)
(61.24783000000001, 24.586170000000003)
(28.0, -94.8)
CPU times: user 131 ms, sys: 3.69 ms, total: 135 ms
Wall time: 132 ms

In [6]:
%%time

# Now, lets get the start times of all the dataframes without
# giving a traj_id.
print(spatial.get_end_location(geolife))
print(spatial.get_end_location(gulls))
print(spatial.get_end_location(atlantic))

(39.999978000000006, 116.32746000000002)
(56.566, 21.19633)
(40.7, -45.4)
CPU times: user 62.5 ms, sys: 104 µs, total: 62.6 ms
Wall time: 59.4 ms

In [7]:
%%time

# Now lets check the start times of all dataframes with a traj_id.
print(spatial.get_end_location(geolife, '1'))
print(spatial.get_end_location(gulls, "91732"))
print(spatial.get_end_location(atlantic, 'AL011851'))

(39.977878999999994, 116.326628)
(31.09783, 29.812170000000002)
(31.0, -100.2)
CPU times: user 130 ms, sys: 131 µs, total: 131 ms
Wall time: 128 ms

In [8]:
%%time

# Now, lets calculate the distance between 2 consecutive points for
# each dataset one by one.
# First, we will check the distances between 2 consecutive points
# in the geolife dataset.
geolife = spatial.create_distance_between_consecutive_column(geolife)
geolife.head(10)

CPU times: user 214 ms, sys: 55.9 ms, total: 270 ms
Wall time: 599 ms

                                   lat         lon  Distance_prev_to_curr
DateTime            traj_id
2008-10-23 16:53:05 1        39.984094  116.319236               0.000000
2008-10-23 16:53:06 1        39.984198  116.319322              13.690153
2008-10-23 05:53:11 1        39.984224  116.319402               7.403788
2008-10-23 05:53:16 1        39.984211  116.319389               1.821083
2008-10-23 05:53:21 1        39.984217  116.319422               2.889671
2008-10-23 05:53:23 1        39.984710  116.319865              66.555997
2008-10-23 05:53:28 1        39.984674  116.319810               6.162987
2008-10-23 05:53:33 1        39.984623  116.319773               6.488225
2008-10-23 05:53:38 1        39.984606  116.319732               3.971848
2008-10-23 05:53:43 1        39.984555  116.319728               5.681172

In [9]:
# %%time
# # Here, we check the distance between 2 consecutive points
# # in the seagulls dataset.
gulls = spatial.create_distance_between_consecutive_column(gulls)
gulls.head()

,,event-id,visible,lon,lat,sensor-type,individual-taxon-canonical-name,individual-local-identifier,study-name,Distance_prev_to_curr
DateTime,traj_id,,,,,,,,,
2009-05-27 14:00:00,91732,1082620685,True,24.58617,61.24783,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,0.000000
2009-05-27 20:00:00,91732,1082620686,True,24.58217,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,1699.244398
2009-05-28 05:00:00,91732,1082620687,True,24.53133,61.18833,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,5632.120064
2009-05-28 08:00:00,91732,1082620688,True,24.58200,61.23283,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,5643.314949
2009-05-28 14:00:00,91732,1082620689,True,24.58250,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,32.131494

In [10]:
# %%time
# Here, we check the distance between 2 consecutive points
# in the atlantic dataset.
atlantic = spatial.create_distance_between_consecutive_column(atlantic)
atlantic.head()

,,Name,Date,Time,Event,Status,lat,lon,Maximum Wind,Minimum Pressure,Low Wind NE,...,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW,Distance_prev_to_curr
DateTime,traj_id,,,,,,,,,,,,,,,,,,,,,
1851-06-25 00:00:00,AL011851,UNNAMED,18510625,0,,HU,28.0,-94.8,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,0.000000
1851-06-25 06:00:00,AL011851,UNNAMED,18510625,600,,HU,28.0,-95.4,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,58907.516366
1851-06-25 12:00:00,AL011851,UNNAMED,18510625,1200,,HU,28.0,-96.0,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,58907.516366
1851-06-25 18:00:00,AL011851,UNNAMED,18510625,1800,,HU,28.1,-96.5,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,50310.976622
1851-06-25 21:00:00,AL011851,UNNAMED,18510625,2100,L,HU,28.2,-96.8,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,31444.370265

In [11]:
%%time

# Now, lets calculate the distance from start to current point for
# each dataset one by one.
# Here, we check the distance between start to all points
# in the geolife dataset.

geolife = spatial.create_distance_from_start_column(geolife)
geolife.head()

CPU times: user 191 ms, sys: 56.3 ms, total: 247 ms
Wall time: 571 ms

,,lat,lon,Distance_prev_to_curr,Distance_start_to_curr
DateTime,traj_id,,,,
2008-10-23 16:53:05,1,39.984094,116.319236,0.000000,0.000000
2008-10-23 16:53:06,1,39.984198,116.319322,13.690153,13.690153
2008-10-23 05:53:11,1,39.984224,116.319402,7.403788,20.223428
2008-10-23 05:53:16,1,39.984211,116.319389,1.821083,18.416895
2008-10-23 05:53:21,1,39.984217,116.319422,2.889671,20.933073

In [12]:
%%time
# Here, we check the distance between start to all points
# in the seagulls dataset.
gulls = spatial.create_distance_from_start_column(gulls)
gulls.head()

CPU times: user 184 ms, sys: 55.5 ms, total: 239 ms
Wall time: 685 ms

,,event-id,visible,lon,lat,sensor-type,individual-taxon-canonical-name,individual-local-identifier,study-name,Distance_prev_to_curr,Distance_start_to_curr
DateTime,traj_id,,,,,,,,,,
2009-05-27 14:00:00,91732,1082620685,True,24.58617,61.24783,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,0.000000,0.000000
2009-05-27 20:00:00,91732,1082620686,True,24.58217,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,1699.244398,1699.244398
2009-05-28 05:00:00,91732,1082620687,True,24.53133,61.18833,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,5632.120064,7238.295521
2009-05-28 08:00:00,91732,1082620688,True,24.58200,61.23283,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,5643.314949,1682.777895
2009-05-28 14:00:00,91732,1082620689,True,24.58250,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,32.131494,1697.111327

In [13]:
%%time

# Here, we check the distance between start to all points
# in the atlantic dataset.
atlantic = spatial.create_distance_from_start_column(atlantic)
atlantic.head()

CPU times: user 142 ms, sys: 68 ms, total: 210 ms
Wall time: 560 ms

,,Name,Date,Time,Event,Status,lat,lon,Maximum Wind,Minimum Pressure,Low Wind NE,...,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW,Distance_prev_to_curr,Distance_start_to_curr
DateTime,traj_id,,,,,,,,,,,,,,,,,,,,,
1851-06-25 00:00:00,AL011851,UNNAMED,18510625,0,,HU,28.0,-94.8,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,0.000000,0.000000
1851-06-25 06:00:00,AL011851,UNNAMED,18510625,600,,HU,28.0,-95.4,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,58907.516366,58907.516366
1851-06-25 12:00:00,AL011851,UNNAMED,18510625,1200,,HU,28.0,-96.0,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,58907.516366,117814.676769
1851-06-25 18:00:00,AL011851,UNNAMED,18510625,1800,,HU,28.1,-96.5,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,50310.976622,167196.061925
1851-06-25 21:00:00,AL011851,UNNAMED,18510625,2100,L,HU,28.2,-96.8,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,31444.370265,197430.193137

In [14]:
%%time

# Here, we are calculating the distance travelled in traj_id 1
# on the date 2008-10-23.
spatial.get_distance_by_date_and_traj_id(geolife, '2008-10-23', '1')

CPU times: user 213 ms, sys: 8.05 ms, total: 221 ms
Wall time: 220 ms

14748.27854559045

In [15]:
%%time

# Now, lets check the distance of all the points
# in the geolife dataset from the coordinates (0, 0).
geolife = spatial.create_distance_from_given_point_column(geolife,
                                                          (0, 0))
geolife.head()

CPU times: user 290 ms, sys: 64 ms, total: 354 ms
Wall time: 705 ms

,,lat,lon,Distance_prev_to_curr,Distance_start_to_curr,"Distance_to_(0, 0)"
DateTime,traj_id,,,,,
2008-10-23 16:53:05,1,39.984094,116.319236,0.000000,0.000000,1.221587e+07
2008-10-23 16:53:06,1,39.984198,116.319322,13.690153,13.690153,1.221587e+07
2008-10-23 05:53:11,1,39.984224,116.319402,7.403788,20.223428,1.221588e+07
2008-10-23 05:53:16,1,39.984211,116.319389,1.821083,18.416895,1.221588e+07
2008-10-23 05:53:21,1,39.984217,116.319422,2.889671,20.933073,1.221588e+07

In [16]:
%%time

# Now, lets check if all the points in the geolife dataset
# are within 12000 KMs of the coordinates (0, 0).
geolife = spatial.create_point_within_range_column(geolife,
                                                   (0,0),
                                                   15000000)
geolife.head()

CPU times: user 220 ms, sys: 63.5 ms, total: 284 ms
Wall time: 626 ms

,,lat,lon,Distance_prev_to_curr,Distance_start_to_curr,"Distance_to_(0, 0)","Within_15000000_m_from_(0, 0)"
DateTime,traj_id,,,,,,
2008-10-23 16:53:05,1,39.984094,116.319236,0.000000,0.000000,1.221587e+07,True
2008-10-23 16:53:06,1,39.984198,116.319322,13.690153,13.690153,1.221587e+07,True
2008-10-23 05:53:11,1,39.984224,116.319402,7.403788,20.223428,1.221588e+07,True
2008-10-23 05:53:16,1,39.984211,116.319389,1.821083,18.416895,1.221588e+07,True
2008-10-23 05:53:21,1,39.984217,116.319422,2.889671,20.933073,1.221588e+07,True

In [17]:
%%time

# Now, lets calculate the speed of the object between 2
# consecutive trajectory points.
# First, we are doing in the geolife dataset.
geolife = spatial.create_speed_from_prev_column(geolife)
geolife.head()

CPU times: user 18.1 ms, sys: 11.9 ms, total: 30 ms
Wall time: 29.2 ms

,,lat,lon,Distance_prev_to_curr,Distance_start_to_curr,"Distance_to_(0, 0)","Within_15000000_m_from_(0, 0)",Speed_prev_to_curr
DateTime,traj_id,,,,,,,
2008-10-23 16:53:05,1,39.984094,116.319236,0.000000,0.000000,1.221587e+07,True,NaN
2008-10-23 16:53:06,1,39.984198,116.319322,13.690153,13.690153,1.221587e+07,True,13.690153
2008-10-23 05:53:11,1,39.984224,116.319402,7.403788,20.223428,1.221588e+07,True,0.000158
2008-10-23 05:53:16,1,39.984211,116.319389,1.821083,18.416895,1.221588e+07,True,0.364217
2008-10-23 05:53:21,1,39.984217,116.319422,2.889671,20.933073,1.221588e+07,True,0.577934

In [18]:
%%time

# Now lets calculate the speed between 2 consecutive
# points in the atlantic dataset.
atlantic = spatial.create_speed_from_prev_column(atlantic)
atlantic.head()

CPU times: user 19.1 ms, sys: 106 µs, total: 19.2 ms
Wall time: 17.8 ms

,,Name,Date,Time,Event,Status,lat,lon,Maximum Wind,Minimum Pressure,Low Wind NE,...,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW,Distance_prev_to_curr,Distance_start_to_curr,Speed_prev_to_curr
DateTime,traj_id,,,,,,,,,,,,,,,,,,,,,
1851-06-25 00:00:00,AL011851,UNNAMED,18510625,0,,HU,28.0,-94.8,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,0.000000,0.000000,NaN
1851-06-25 06:00:00,AL011851,UNNAMED,18510625,600,,HU,28.0,-95.4,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,58907.516366,58907.516366,2.727200
1851-06-25 12:00:00,AL011851,UNNAMED,18510625,1200,,HU,28.0,-96.0,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,58907.516366,117814.676769,2.727200
1851-06-25 18:00:00,AL011851,UNNAMED,18510625,1800,,HU,28.1,-96.5,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,50310.976622,167196.061925,2.329212
1851-06-25 21:00:00,AL011851,UNNAMED,18510625,2100,L,HU,28.2,-96.8,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,31444.370265,197430.193137,2.911516

In [19]:
%%time

# Now lets calculate the speed between 2 consecutive
# points in the seagulls dataset.
gulls = spatial.create_speed_from_prev_column(gulls)
gulls.head()

CPU times: user 24.5 ms, sys: 37 µs, total: 24.5 ms
Wall time: 23.4 ms

,,event-id,visible,lon,lat,sensor-type,individual-taxon-canonical-name,individual-local-identifier,study-name,Distance_prev_to_curr,Distance_start_to_curr,Speed_prev_to_curr
DateTime,traj_id,,,,,,,,,,,
2009-05-27 14:00:00,91732,1082620685,True,24.58617,61.24783,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,0.000000,0.000000,NaN
2009-05-27 20:00:00,91732,1082620686,True,24.58217,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,1699.244398,1699.244398,0.078669
2009-05-28 05:00:00,91732,1082620687,True,24.53133,61.18833,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,5632.120064,7238.295521,0.173831
2009-05-28 08:00:00,91732,1082620688,True,24.58200,61.23283,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,5643.314949,1682.777895,0.522529
2009-05-28 14:00:00,91732,1082620689,True,24.58250,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,32.131494,1697.111327,0.001488

In [20]:
%%time

# Now lets check the acceleration of the object
# between 2 consecutive points.
# First, lets check for the geolife dataset.
geolife = spatial.create_acceleration_from_prev_column(geolife)
geolife.head()

CPU times: user 29.1 ms, sys: 4.1 ms, total: 33.2 ms
Wall time: 31.7 ms

,,lat,lon,Distance_prev_to_curr,Distance_start_to_curr,"Distance_to_(0, 0)","Within_15000000_m_from_(0, 0)",Speed_prev_to_curr,Acceleration_prev_to_curr
DateTime,traj_id,,,,,,,,
2008-10-23 16:53:05,1,39.984094,116.319236,0.000000,0.000000,1.221587e+07,True,NaN,NaN
2008-10-23 16:53:06,1,39.984198,116.319322,13.690153,13.690153,1.221587e+07,True,13.690153,NaN
2008-10-23 05:53:11,1,39.984224,116.319402,7.403788,20.223428,1.221588e+07,True,0.000158,-0.000292
2008-10-23 05:53:16,1,39.984211,116.319389,1.821083,18.416895,1.221588e+07,True,0.364217,0.072812
2008-10-23 05:53:21,1,39.984217,116.319422,2.889671,20.933073,1.221588e+07,True,0.577934,0.042744

In [21]:
%%time

# Now lets check the jerk of the object between 2 consecutive
# points.
# First, we will do it for the geolife dataset.
geolife = spatial.create_jerk_from_prev_column(geolife)
geolife.head()

CPU times: user 38.9 ms, sys: 232 µs, total: 39.1 ms
Wall time: 37.8 ms

,,lat,lon,Distance_prev_to_curr,Distance_start_to_curr,"Distance_to_(0, 0)","Within_15000000_m_from_(0, 0)",Speed_prev_to_curr,Acceleration_prev_to_curr,jerk_prev_to_curr
DateTime,traj_id,,,,,,,,,
2008-10-23 16:53:05,1,39.984094,116.319236,0.000000,0.000000,1.221587e+07,True,NaN,NaN,NaN
2008-10-23 16:53:06,1,39.984198,116.319322,13.690153,13.690153,1.221587e+07,True,13.690153,NaN,NaN
2008-10-23 05:53:11,1,39.984224,116.319402,7.403788,20.223428,1.221588e+07,True,0.000158,-0.000292,NaN
2008-10-23 05:53:16,1,39.984211,116.319389,1.821083,18.416895,1.221588e+07,True,0.364217,0.072812,0.014621
2008-10-23 05:53:21,1,39.984217,116.319422,2.889671,20.933073,1.221588e+07,True,0.577934,0.042744,-0.006014