In [1]:
from core.TrajectoryDF import NumPandasTraj as NumTrajDF
from features.temporal_features import TemporalFeatures as temporal
import pandas as pd
import utilities.constants as const
import numpy as np

In [2]:
%%time
# Now lets import the gulls.csv and convert it into our
# NumPandasTraj.

gulls = pd.read_csv('./data/gulls.csv')
gulls = NumTrajDF(gulls,
                 latitude='location-lat',
                 longitude='location-long',
                 datetime='timestamp',
                 traj_id='tag-local-identifier',
                 rest_of_columns=[])
gulls.head()

CPU times: user 271 ms, sys: 16.2 ms, total: 287 ms
Wall time: 286 ms

,,event-id,visible,lon,lat,sensor-type,individual-taxon-canonical-name,individual-local-identifier,study-name
DateTime,traj_id,,,,,,,,
2009-05-27 14:00:00,91732,1082620685,True,24.58617,61.24783,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...
2009-05-27 20:00:00,91732,1082620686,True,24.58217,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...
2009-05-28 05:00:00,91732,1082620687,True,24.53133,61.18833,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...
2009-05-28 08:00:00,91732,1082620688,True,24.58200,61.23283,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...
2009-05-28 14:00:00,91732,1082620689,True,24.58250,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...

In [3]:
%%time
# Now lets import the geolife_sample.csv and convert it into our
# NumPandasTraj.

pdf = pd.read_csv('./data/geolife_sample.csv')
dataframe = NumTrajDF(pdf,'lat','lon','datetime','id')
dataframe.head()

CPU times: user 480 ms, sys: 19.4 ms, total: 499 ms
Wall time: 500 ms

                                   lat         lon
DateTime            traj_id
2008-10-23 16:53:05 1        39.984094  116.319236
2008-10-23 16:53:06 1        39.984198  116.319322
2008-10-23 05:53:11 1        39.984224  116.319402
2008-10-23 05:53:16 1        39.984211  116.319389
2008-10-23 05:53:21 1        39.984217  116.319422

In [4]:
%%time
# Here, we will calculate the date, time, day of the week and whether
# it is weekend or not in the same cell. Upon running, the library
# always executes within 3-4 seconds. Compared to dask version of this,
# only the time column creation took 7.5 seconds. So this version
# is more efficient in terms of code execution and memory usage.

dataframe = temporal.create_time_column(dataframe)
dataframe = temporal.create_time_of_day_column(dataframe)
dataframe = temporal.create_date_column(dataframe)
dataframe = temporal.create_day_of_week_column(dataframe)
dataframe = temporal.create_weekend_indicator_column(dataframe)
dataframe.head()

CPU times: user 3.1 s, sys: 515 ms, total: 3.61 s
Wall time: 8.63 s

,,lat,lon,Time,Time_Of_Day,Date,Day_Of_Week,Weekend
DateTime,traj_id,,,,,,,
2008-10-23 16:53:05,1,39.984094,116.319236,16:53:05,Noon,2008-10-23,Thursday,False
2008-10-23 16:53:06,1,39.984198,116.319322,16:53:06,Noon,2008-10-23,Thursday,False
2008-10-23 05:53:11,1,39.984224,116.319402,05:53:11,Early Morning,2008-10-23,Thursday,False
2008-10-23 05:53:16,1,39.984211,116.319389,05:53:16,Early Morning,2008-10-23,Thursday,False
2008-10-23 05:53:21,1,39.984217,116.319422,05:53:21,Early Morning,2008-10-23,Thursday,False

In [5]:
%%time
# Here, we will calculate the date, time, day of the week and whether
# it is weekend or not in the same cell. Upon running, the library
# always executes within 2 seconds even though this has more number
# of trajectories as compared to geolife_sample.csv.

gulls = temporal.create_time_column(gulls)
gulls = temporal.create_time_of_day_column(gulls)
gulls = temporal.create_date_column(gulls)
gulls = temporal.create_day_of_week_column(gulls)
gulls = temporal.create_weekend_indicator_column(gulls)
gulls.head()

CPU times: user 1.82 s, sys: 360 ms, total: 2.18 s
Wall time: 5.2 s

,,event-id,visible,lon,lat,sensor-type,individual-taxon-canonical-name,individual-local-identifier,study-name,Time,Time_Of_Day,Date,Day_Of_Week,Weekend
DateTime,traj_id,,,,,,,,,,,,,
2009-08-15 15:00:00,91733,1082636186,True,7.91883,54.18600,gps,Larus fuscus,91733A,Navigation experiments in lesser black-backed ...,21:00:00,Noon,2009-08-15,Saturday,True
2009-08-15 21:00:00,91733,1082636187,True,7.91917,54.18567,gps,Larus fuscus,91733A,Navigation experiments in lesser black-backed ...,06:00:00,Night,2009-08-15,Saturday,True
2009-08-16 06:00:00,91733,1082636188,True,7.91500,54.18533,gps,Larus fuscus,91733A,Navigation experiments in lesser black-backed ...,09:00:00,Early Morning,2009-08-16,Sunday,True
2009-08-16 09:00:00,91733,1082636189,True,7.91917,54.18583,gps,Larus fuscus,91733A,Navigation experiments in lesser black-backed ...,15:00:00,Morning,2009-08-16,Sunday,True
2009-08-16 15:00:00,91733,1082636190,True,8.64117,54.33383,gps,Larus fuscus,91733A,Navigation experiments in lesser black-backed ...,21:00:00,Noon,2009-08-16,Sunday,True

In [6]:
%%time

# Now, let's calculate the time duration.
delta_one = temporal.get_traj_duration(dataframe)
delta_two = temporal.get_traj_duration(dataframe, traj_id='5')
delta_one

CPU times: user 147 ms, sys: 10.8 ms, total: 158 ms
Wall time: 157 ms

Timedelta('146 days 23:53:26')

In [7]:
%%time

# Now, lets get the starting time of all the trajectory IDs.
temporal.get_start_time(gulls)

CPU times: user 442 ms, sys: 75.4 ms, total: 517 ms
Wall time: 2.31 s

                   DateTime
traj_id
91732   2009-05-27 14:00:00
91733   2009-08-15 15:00:00
91734   2009-05-25 00:05:00
91735   2009-05-27 14:00:00
91737   2009-07-26 05:00:00
...                     ...
91920   2009-08-19 19:00:00
91921   2009-08-19 19:00:00
91924   2009-08-19 19:00:00
91929   2009-08-19 19:00:00
91930   2009-08-19 05:00:00

[126 rows x 1 columns]

In [8]:
%%time

# Now, lets get the ending time of a specific trajectory ID.
temporal.get_end_time(gulls, '91732')

CPU times: user 45.8 ms, sys: 12.4 ms, total: 58.2 ms
Wall time: 56.8 ms

Timestamp('2010-10-28 14:00:00')