In [1]:
import datetime

import pandas as pd
from ptrail.core.TrajectoryDF import PTRAILDataFrame
from ptrail.preprocessing.statistics import Statistics
from ptrail.preprocessing.filters import Filters
from ptrail.features.kinematic_features import KinematicFeatures

"""
    First, to begin with the following actions ar performed:
        1. Read the database from the csv file using pandas.
        2. Convert the pandas dataframe to PTRAILDataFrame DataFrame
           in order to represent the data with PTRAIL.

    It is to be duly noted that the Starkey Project database provided
    originally has been modified here to meet with the needs of
    PTRAIL Library.
"""
pdf = pd.read_csv('https://raw.githubusercontent.com/YakshHaranwala/PTRAIL/main/examples/data/starkey.csv')
starkey = PTRAILDataFrame(data_set=pdf,
                          latitude='lat',
                          longitude='lon',
                          datetime='DateTime',
                          traj_id='Id')
print("Size of the Dataset: {}".format(starkey.shape))
starkey.head(5)

Size of the Dataset: (287136, 15)

                                     lat         lon  StarkeyTime    GMDate  \
traj_id   DateTime
880109D01 1995-04-13 13:40:06  45.239682 -118.533204    229902006  21:40:06
          1995-04-15 12:16:15  45.250521 -118.530438    230069775  20:16:15
          1995-04-15 21:39:38  45.247943 -118.541455    230103578  05:39:38
          1995-04-16 03:32:14  45.247429 -118.539530    230124734  11:32:14
          1995-04-16 04:08:28  45.247117 -118.542579    230126908  12:08:28

                                 GMTime   LocDate   LocTime  RadNum  Species  \
traj_id   DateTime
880109D01 1995-04-13 13:40:06  19950413  19950413  13:40:06     409        0
          1995-04-15 12:16:15  19950415  19950415  12:16:15     409        0
          1995-04-15 21:39:38  19950416  19950415  21:39:38     409        0
          1995-04-16 03:32:14  19950416  19950416  03:32:14     409        0
          1995-04-16 04:08:28  19950416  19950416  04:08:28     409        0

                                 UTME     UTMN  Year  Grensunr  Grensuns  \
traj_id   DateTime
880109D01 1995-04-13 13:40:06  379662  5010734    95  13:13:00  02:39:00
          1995-04-15 12:16:15  379895  5011927    95  13:09:00  02:41:00
          1995-04-15 21:39:38  379039  5011656    95  13:07:00  02:43:00
          1995-04-16 03:32:14  379188  5011581    95  13:07:00  02:43:00
          1995-04-16 04:08:28  378938  5011567    95  13:07:00  02:43:00

                               Obswt
traj_id   DateTime
880109D01 1995-04-13 13:40:06   1.47
          1995-04-15 12:16:15   1.59
          1995-04-15 21:39:38   1.34
          1995-04-16 03:32:14   1.50
          1995-04-16 04:08:28   1.34

In [2]:
# from sklearn.feature_selection import mutual_info_classif
# from ptrail.features.temporal_features import TemporalFeatures

df = PTRAILDataFrame(pd.read_csv('../data/atlantic_hurricanes.csv'),
                     latitude='lat', longitude='lon', datetime='DateTime', traj_id='traj_id')
# df = KinematicFeatures.generate_kinematic_features(df)
# df = TemporalFeatures.generate_temporal_features(df).dropna()
# Y = df['Status']
# df = df.select_dtypes(include=['float64', 'int'])
#
# importances = mutual_info_classif(df, Y)
#
# feat = pd.Series(importances, df.columns).sort_values()
# feat.plot(kind='barh', color='green')

In [3]:
from ptrail.preprocessing.interpolation import Interpolation

ip_starkey = Interpolation.interpolate_position(dataframe=df,
                                                time_jump=3600*4,
                                                ip_type='linear')
ip_starkey

                               lat   lon
traj_id  DateTime
AL011851 1851-06-25 00:00:00  28.0 -94.8
         1851-06-25 04:00:00  28.0 -95.2
         1851-06-25 06:00:00  28.0 -95.4
         1851-06-25 10:00:00  28.0 -95.8
         1851-06-25 12:00:00  28.0 -96.0
...                            ...   ...
AL312005 2006-01-07 06:00:00  24.2 -52.7
         2006-01-07 10:00:00  24.6 -53.7
         2006-01-07 12:00:00  24.8 -54.2
         2006-01-07 16:00:00  25.8 -55.2
         2006-01-07 18:00:00  26.3 -55.7

[95106 rows x 2 columns]